*.json linguist-detectable=true
*.mcmeta linguist-detectable=true
*.conf linguist-detectable=true
*.conf linguist-language=HOCON

*.py linguist-detectable=true

max_damage.py linguist-detectable=false